<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.common.mapper.superEntityMapper">

    <resultMap id="baseMap" type="com.central.common.model.SuperEntity">
        <id property="id" column="id" jdbcType="long"/>
        <result property="createTime" column="create_time" jdbcType="datetime"/>
        <result property="updateTime" column="update_time" jdbcType="datetime"/>
    </resultMap>


    <select id="getAllUsers" resultType="com.central.common.model.SuperEntity">
        select * from superentity;
    </select>

    <select id="getUserById" resultMap="baseMap">
        select * from superentity where id=#{id};
    </select>
</mapper>